// Layout variables

$survey-width: 60%;
$survey-min-width: 500px;
$survey-max-width: 900px;

$header-nav-font-size: 80px;
$header-text-font-size: 30px;

$header-progress-font-size: 15px;
$header-progress-highlighted-font-size: 30px;
$header-nav-button-width: 7%;
$header-progress-width: 85%;
$header-progress-circle-width: 20px;

$toolbar-font-size: 30px;
$toolbar-height: 30px;

$question-box-width: 100%;
$question-box-height: 500px;

$question-width: 94%;
$question-padding: 3%;
$question-height: 500px;
$question-font-size: 28px;

$answer-width: 40%;
$answer-checkbox-font-size: 2em;
$answer-keyboard-border-size: 3px;

$number-width: 48px;
$number-font-size: 20px;
$number-border-radius: 15px;

$textarea-width: 100%;
$textarea-height: 200px;
$textarea-font-size: 20px;

$button-font-size: 20px;


$welcome-font-size: 24px;
$comment-font-size: 24px;

$border-radius-connector: 15px;
$border-radius-button: 50%;

// responsive
$mobile-welcome-font-size: 22px;
$mobile-question-font-size: 18px;
$mobile-comment-font-size: 18px;
$mobile-answer-width: 70%;

$phone-min-device-width: 320px;
$phone-max-device-width: 767px;
$phone-min-device-pixel-ratio: 1;

$tablet-min-device-width: 768px;
$tablet-max-device-width: 1024px;
$tablet-min-device-pixel-ratio: 1;

$desktop-min-device-width: 768px;
/* ===================== Media query variables ==================== */


